@CHARSET "ISO-8859-1";
* {
       margin: 0;
       padding: 0;
}
html, body {
        height: 100%;
}
#body2 {
        height: 75%;
}
#wrap {
        height: auto !important;    
        min-height:90%;    
        background-color:#19475E; 
}
#wrap2 {
        width:100%; 
        height:1300px;    
        margin: 0 auto -50px;
        background-color:#19475E ; 
}
#sidebar2 { 
        position:absolute;
        left:0.1%;
        margin-top:0.2%;
        margin-bottom:0.3%;
        margin-left:.1%;
        margin-right:.01%;
        text-decoration:none;
        width:10%;
}
#maincontent {
        float: right;
        position:abolute;
        right:1px;
        margin-top:0.2%;
        margin-bottom:0.2%;
        margin-left:0.1%;
        margin-right:7%;
        width:79.6%;
        background-color:#19475E;      
}
#maincontent2 {
        float: right;
        position:abolute;
        right:1px;
        margin-top:0.1%;
        margin-bottom:1%;
        margin-left:0.1%;
        margin-right:7%;
        width:79.6%;
        background-color:#19475E;      
}
#maincontent4 {
        float: right;
        position:abolute;
        right:1px;
        margin-top:1%;
        margin-bottom:0%;
        margin-left:1%;
        margin-right:1%;
        width:99%;
        background-color:#19475E;      
}
#maincontent6 {
        float: left;
        position:abolute;
        right:0px;
        margin-top:-1%;
        margin-bottom:0.2%;
        margin-left:-2%;
        margin-right:7%;
        width:75%;
        background-color:#19475E;      
}
#maincontent th {
        text-align: center;
}
#maincontent td {
        text-align: center;
}
#wrapper {
        width:1250px;   
        font: 1.2em Arial, Helvetica, sans-serif;
}
#nocontent {
        float:left;
        margin-top:8px;
        margin-bottom:8px;
        border-bottom:0.1em solid #B8B8B8;
        border-top:0.1em solid #B8B8B8;
        padding-top:5px;
        padding-bottom:5px;
        width:100%;
}
#header {
        background-color: #000000;
        width: 100%;
        height:70px;
        border-bottom: 1px solid #919096;
}
#header a {
        text-decoration:none;
}
#header h1 {
        color: #fff;
        float: left;
        font: 2.5em 'Trebuchet MS', Verdana, sans-serif;
        padding-top: 10px;
        padding-left:10px;
        padding-right:10px;
        margin-bottom: 0px;
}
#header h1 span {
        color: #fff;
}
#content_inside_main2 {
        background: #e9e9e9;
        float: left;
        line-height: 40%;
        margin: 0;
        padding:10px 100px 150px 10px;
        background-color:#ff0000;
        background-color:#19475E ; 
}
#footer {
        background: #000000;
        width: 100%;
        margin-top: -50px;
        height: 50px;
        clear: both;
        position: relative;
        margin-top:5px;
}
#footer h3 {
        color: #fff;
        float: left;
        font: 0.75em 'Trebuchet MS', Verdana, sans-serif;
        padding-left:10px;
        padding-top:13px;
        padding-right:5px
}
#footer h3.right {
        float: right;
}
#table1 {
        font:bold 13px Arial, Helvetica, sans-serif;
        width:100%;
        border-collapse:collapse;
        margin:10px 20px 0px 20px;
}
#table1 td, #table1 th {  
        font-size:80%;
        background-color:#ffffff;
        border:1px solid #000000;
        padding:3px 7px 2px 7px;
}
#table1 th {
        font-weight:bold;
        text-align:left;
        padding-top:5px;
        padding-bottom:4px;
        background-color:#95b9c7;
        color:#000000;
}
#table1 tr.alt th {
        text-align:left;
        font-weight:bold;
        padding-top:5px;
        padding-bottom:4px;
        background-color:#000000;
        color:#ffffff;
}
#table1 tr.alt td {
        color:#000;
        background-color:#d8d8d8;
}
#table1 tr.alt2 th {
        text-align:right;
        padding-top:5px;
        padding-bottom:4px;
        background-color:#BCD6C1;
        color:#000000;
}
#table1 tr.alt2 td {
        color:#000;
        background-color:#858283;
}
#table1 tr.alt3 td {
        text-align:right;
        color:#000;
        background-color:#858283;
}
#table1 tr.alt4 td {
        color:#000;
        background-color:#ffffff;
        text-align:left;
}
#table1 tr.alt5 td {
        color:#000;
        background-color:#d8d8d8;
        text-align:left;
}
#table2 {
        font:bold 13px Arial, Helvetica, sans-serif;
        width:100%;
        border-collapse:collapse;
        margin:10px 20px 0px 20px;
}
#table2 td, #table2 th {
        font-size:80%;
        border:1px solid #000000;
        text-align:left;
        background-color:#DBDAE6;
        padding:3px 7px 2px 7px;
}
#table2 th {
        font-weight:bold;    
        text-align:left;
        padding-top:5px;
        padding-bottom:4px;
        background-color:#95b9c7;
        color:#000000;
}
#table2 tr.alt th {
        font-weight:bold;
        text-align:left;
        padding-top:5px;
        padding-bottom:4px;
        background-color:#000000;
        color:#ffffff;
}
#table2 tr.alt td {
        color:#000;
        background-color:#d8d8d8;
}
#table2 tr.alt2 th {
        text-align:right;
        padding-top:5px;
        padding-bottom:4px;
        background-color:#E3E1E8;
        color:#000000;
}
#table2 tr.alt2 td {
        border-color:#000000;
}
.menu_nav {
        margin:5px 0 0 0;
        float:right;
        width:30%;
}
input {
        outline:none;
        transition: all 0.25s ease-in-out;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        border-radius:3px;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border:1px solid; 
        border-color:#B9C8C9;
}
input:focus {
        box-shadow: 0 0 5px rgba(0, 0, 255, 1);
        -webkit-box-shadow: 0 0 5px rgba(141,164,240, 1); 
        -moz-box-shadow: 0 0 5px rgba(141,164,240, 1);
        border:1px solid; 
        border-color:#070091;
}
input:hover {
        box-shadow: 0 0 5px rgba(0, 0, 255, 1);
        -webkit-box-shadow: 0 0 5px rgba(141,164,240, 1); 
        -moz-box-shadow: 0 0 5px rgba(141,164,240, 1);
        border:1px solid; 
        border-color:#070091;
}
input.submit {
        font-weight:bold;
        padding: .5em 1em .55em;
        color: #d7d7d7;
        border: solid 1px #333;
        background: #333;
        background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
        background: -moz-linear-gradient(top,  #69828C,  #000);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
input.submit:hover { 
        font-weight:bold;
        color: #d7d7d7;
        border: solid 1px #333;
        background: #506C6C;
        background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
        background: -moz-linear-gradient(top,  #629DB5,  #134052);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
input.submit:active { 
        font-weight:bold;
        color: #d7d7d7;
        border: solid 1px #333;
        background: #ff0000;
        background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
        background: -moz-linear-gradient(top,  #ff0000,  #000);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
textarea {
        outline:none;
        transition: all 0.25s ease-in-out;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        border-radius:3px;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border:1px solid rgba(0,0,0, 0.2);
}
textarea:focus {
        box-shadow: 0 0 5px rgba(0, 0, 255, 1);
        -webkit-box-shadow: 0 0 5px rgba(141,164,240, 1); 
        -moz-box-shadow: 0 0 5px rgba(141,164,240, 1);
        border:1px solid; 
        border-color:#070091;
}
textarea:hover {
        box-shadow: 0 0 5px rgba(0, 0, 255, 1);
        -webkit-box-shadow: 0 0 5px rgba(141,164,240, 1); 
        -moz-box-shadow: 0 0 5px rgba(141,164,240, 1);
        border:1px solid; 
        border-color:#070091;
}
select {
        outline:none;
        transition: all 0.25s ease-in-out;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        border-radius:3px;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border:1px solid rgba(0,0,0, 0.2);
}
select:focus {
        box-shadow: 0 0 5px rgba(0, 0, 255, 1);
        -webkit-box-shadow: 0 0 5px rgba(141,164,240, 1); 
        -moz-box-shadow: 0 0 5px rgba(141,164,240, 1);
        border:1px solid; 
        border-color:#070091;
}
select:hover {
        box-shadow: 0 0 5px rgba(0, 0, 255, 1);
        -webkit-box-shadow: 0 0 5px rgba(141,164,240, 1); 
        -moz-box-shadow: 0 0 5px rgba(141,164,240, 1);
        border:1px solid; 
        border-color:#070091;
}
