@CHARSET "ISO-8859-1";

.x-btn{
 font:normal 16px tahoma, verdana, helvetica;
 
	color:#F0FCF4 !important;
	border-style: solid;
	border-width: 0.5px;
	border-color: #496591;
	border-radius:5px;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#9EC2E8), to(#0051A8));
	background: -moz-linear-gradient(top,  #9BB2C2,  #2D6B96);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9EC2E8', endColorstr='#0051A8');
}

.x-btn:hover {
	background: #CCF0FF;
	background: -webkit-gradient(linear, left top, left bottom, from(#D7E8FA), to(#2D6B96));
	background: -moz-linear-gradient(top,  #D7E8FA,  #2D6B96);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#D7E8FA', endColorstr='#2D6B96');
}