.header {
    background-color: black;
    color: white;
    margin-left: -20px;
    margin-right: -20px;
    border-bottom: 1px solid white;
}

body {
    background-color: #19475E;
}

.header-inner {
    font-family: Ubuntu;
    float: left;
    vertical-align: middle;
    padding: 3px 5px;
    margin: 0 0;
    font-size: 30px;
    font-weight: bold;
}

.header-logo {
    float: left;
    width: 20%;
    vertical-align: middle;
    padding: 3px 5px;
    padding-left: 100px;
    margin: 0 0;
}

.header {
    vertical-align: middle;
    align-items: center;
}

table {
    font-family: Ubuntu;
    border: 1px solid black;
    border-collapse: collapse;
}

table.layout {
    border: 0mm solid black;
    border-collapse: collapse;
}

td.layout {
    text-align: center;
    border: 0mm solid black;
}

td {
    font-size: 9px;
    font-weight: normal;
    font-family: Ubuntu;
    padding: 0mm;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
    background-color: white;
}

th {
    font-size: 8px;
    font-family: Ubuntu;
    font-weight: normal;
    border: 1px solid black;
    vertical-align: middle;
    background-color: #95b9c7;
}

tr {
    height: 200px;
}

.table-name {
    font-weight: bold;
    font-size: 10px;
}

.table-health {
    font-weight: bold;
    width: 100%;
    height: 100%;
}

.CCA-LNA-monitor-data {
    width: 50%;
    float: left;
}

.CCA-SIS-monitor-data {
    width: 50%;
    float: right;
}

.CCA-TempSensors-data {
    width: 50%;
    float: left;
}

.WCA-AMC-monitor-data {
    width: 50%;
    float: right;
}

.WCA-PA-monitor-data {
    width: 50%;
    float: left;
}

.WCA-PLL-monitor-data {
    width: 50%;
    float: right;
}

.IF-Total-Power {
    width: 50%;
    float: left;
}

.Y-Factor {
    width: 50%;
    float: right;
}

.iv_curve_1 {
    width: 50%;
    float: left;
}

.iv_curve_2 {
    width: 50%;
    float: right;
}

.iv_curve_3 {
    width: 50%;
    float: left;
}

.iv_curve_4 {
    width: 50%;
    float: right;
}

.iv_curve_5 {
    width: 50%;
    float: left;
}

.iv_curve_6 {
    width: 50%;
    float: right;
}

.iv_curve_7 {
    width: 50%;
    float: left;
}

.iv_curve_8 {
    width: 50%;
    float: right;
}

.ploturlunique {
    width: 99.2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.ploturl1 {
    width: 49.6%;
    float: left;
    clear: both;
    border: 1px solid black;
}

.ploturl2 {
    width: 49.6%;
    float: right;
    border: 1px solid black;
}

.ploturl3 {
    width: 49.6%;
    float: left;
    clear: both;
    border: 1px solid black;
}

.ploturl4 {
    width: 49.6%;
    float: right;
    border: 1px solid black;
}

.ploturl5 {
    width: 49.6%;
    float: left;
    clear: both;
    border: 1px solid black;
}

.ploturl6 {
    width: 49.6%;
    float: right;
    border: 1px solid black;
}

.form {
    width: 100%;
}