/*
	Author	:	Christopher Robinson
	Email		:	christopher@edg3.co.uk
	Website	:	http://www.edg3.co.uk/
*/
* {
	border:0;
	margin:0;


	padding:0;
}

/* general */
a {
	color:darkblue;
	text-decoration:none;
}

a:hover {
	color:#333;
	text-decoration:none;
}

/* body */
body {

	/*previous: F9FFF7  */
	background:#CCDCD1;
	color:#555;
	font:0.8em Arial, Helvetica, "bitstream vera sans", sans-serif;
}

/* header */
#header {
	border-bottom:1px solid #999;
	height:110px;
	margin:0 auto;
	width:751px;


}
#header h1 {
	color:#888;
	font-size:300%;
	letter-spacing:-3px;
	text-align:right;
	padding:5px;
	margin-bottom:-20px;
}
#header h2 {
	color:#000000;
	font-size:200%;
	letter-spacing:-2px;
	text-align:right;
}

/* navigation */
#navigation {
	/*previous  FFFC63  */
	color:#999;
	background:#372811;
	
	border-right:1px solid #999;
	margin:0 auto;
	width:750px;
	height:50px;
	list-style:none;
}
#navigation li {
	color:#999;
	border-left:1px solid #999;
	float:left;
	width:124px;
	list-style:none;
}
#navigation a {
	color:#ffffff;
	display:block;
	line-height:50px;
	text-align:center;
}
#navigation a:hover {
	/* previous  e3e3e3  */
	background:#FFFFFF;
	color:#000;
}
#navigation .active {
	background:#e3e3e3;
	color:#D12600;
}




/* content */
#content {
	height:auto;
	margin:0 auto;
	padding:0 0 20px;



	/* width:751px;  */

	width:751px;

}
#content h1 {
	border-bottom:1px dashed #999;
	font-size:1.8em;
	padding:20px 0 0;
}
#content p {

	padding:20px 20px 0;

}

/* footer */
#footer {
	border-top:1px solid #999; 
	height:50px;
	margin:0 auto;
	padding:10px;
	/* text-align:center;  */

	text-align:center; 
	width:751px;
}

p2 {
               
		margin-left: '5%'
            }


